
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/shared/_Layout_main.cshtml";
}

@*<h2>Aboutus</h2>*@

<title>Aasha starline</title>
<style>
element.style {
    /* border: 1px solid blue; */
    font-size: large;
    font-weight: inherit;
}
h2 {
    margin-left: 450px;
    font-size: xx-large;
    margin-top: 30px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

    div#container_About {
        position: relative;
        margin-top: 170px;
        box-shadow: -1px 1px 10px 11px gainsboro;
        padding-left: 34px;
        padding-top: 10px;
        height: 1255px;
    }
</style>

<div id="container_About">
<div id="title_page">
<h2>About Us</h2>
</div>
<p id="header_page"><b>Aasha starline</b> is one of the fastest growing organizations with a simple aim to inspire travelers around the world. Our consistent endeavor is to make travel search as seamless as possible through our world-class technology and best in-house travel experts. With our smart and user-friendly booking widget, travelers are expected to enjoy a hassle-free travel booking. 
    <br/><br/>
   
        This website is operated by Starline flights LLC, with its head office at<b> 16192 COASTAL HIGHWAY
            LEWES, DELAWARE 19958, USA.
        </b>
   <br /><br />
        Starline Flights LLC is a registered Seller of Travel in the State of Delaware USA, Licence No. <b>7570999.</b>
    <br /><br />

With a wealth of state-of-the-art technology and a great team comprising of the best travel industry experts, we offer an extensive selection of flight deals to almost everywhere in the world. With over hundreds of thousands of airlines, hotel and car rental partners worldwide, travelers can book everything they need for a perfect vacation experience - hotels to meet every budget, 
car rental services for exploring every nook and corner of their favorite city. We partner with several seasoned travel partners around the world so that we can offer you the best of all services and make travel planning stress free for you. This association with our partners gives us access to the latest offers and deals for all major destinations around the world so that we can weave a tailored vacation plan to suit your pocket and sense of taste. 
<br/><br/>So, do you fancy bespoke travel experience? A perfect vacation is worthwhile as to travel is to live. Hence, don’t call travel a dream, call it a plan and get ready to visit some place where you feel the most alive. Visit The <b><i>Aasha starline</i></b>, make travel plans and book vacations with us to enjoy a perfect vacation experience. 
</p>


    <h3>WHY US</h3>

<p>
The world as we know it is full of lots of amazing places that cater to different types of needs of people. While those who love history would seek for archaeological and historical sites, those who love adventure would mostly head over to mountains, islands and other similar hiking trails. Those who travel with kids would look for some children-oriented place such as Disneyland to go visiting. 
Many times, you may not be able to get your hands on the tickets to reach your desired destination or you may not find some attractive deals over the same. We intend to fill in that gap and let you pick your kind of tickets to wherever you feel like paying a visit! With our seasoned team we exactly can figure out the best deals for you and can let you have them without investing much of time over the same as well. 
</p>

<h3>Highlights of our Services </h3>
<p><strong>You sure would like to know how we can make your travel experience, simpler, affordable and full of surprises till the very end. 
As a matter of fact, we give you numerous innovative reasons for the same. A few of those have been listed below for your reference: </strong></p>
<ul>
<li> Prompt personal attention to your travel-related queries and requirements </li>
<li> You can always customize your travel plan just as you would want it </li>
<li> Flexibility in anything and everything you wish to select from our available options</li> 
<li> Suggestive services delivered by the best of industry experts </li>
<li> Superior customer services available just a phone call away </li>
<li> Multiple communication modes with our support team to make life simpler for you </li>
<li> All types of flight choices available to suit your varied needs </li>
<li> Best value assurance over all flights and deals you pick through our website</li> 
</ul>

<h3>How we work </h3>
<p>We at The Aasha starline are equally enthusiastic about holidays as you are. This makes us understand every such concern of yours from deep inside, which in turn also helps us offer you something unique and innovative to look forward to. Our team is dedicated to search for the best of offers that are going around that we find through our extensive partner networks, and which are certain to grab your attention every single time. 
You can simply let us know your preferred destination and we will work strenuously to get you all the best deals available for your desired location. </p>

<h3>What you can get from us</h3> 
With our range of deals based across all major destinations across the US and beyond, you sure can expect a lot more than just traveling through us. Besides, you can even get detailed information about the best places that you can visit in your city of choice and the weather that would be ideal  
for you to plan your travel. You can also get a glimpse of several other cities based around your chosen city to do a lot more than what you had anticipated earlier. With <b>Aasha starline</b> you sure can’t run out of options for anything and everything. 
For all further details, get in touch with our representatives today.

</div>



