
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/shared/_Layout_main.cshtml";
}

@*<h2>ContactUs</h2>*@

<title>Contact Us </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7XawooWB1YejMHrz04faz2Mb9yGqojMc"></script>*@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlYcu2x4bDIp0dzLt14LtT1HnNIuhFivA&sensor=false"></script>

<div id="containerabs">
<div id="title_id">
<h2> Contact Us</h2>
</div>
<div id="office_id">
   <p><i class="fa fa-building-o" aria-hidden="true"></i>
            <b>
                C1093 First Floor, Jj Colony Tigri Devli New Delhi 110062, India
            </b>
    </p>
</div>
<div id="mail">

        <a href="mailto:avneesh.mishra@mail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <b>   avneesh.mishra@mail.com</b>

</a>
</div>

<div id="contact_no">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <b>    1-863-862-4492</b>
</div>
<div id="whatsapp_no"> 
<a href="https://api.whatsapp.com/send?phone=9889305550">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>

<b>   9889305550</b>

</a>
</div>
    <div id="myDiv" style="width:100%;height:400px;">

    </div>
    <div id="map_cantct">
        <p>
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <b>
                C1093 First Floor, Jj Colony Tigri Devli New Delhi 110062, India
            </b><br />
            <i class="fa fa-phone" aria-hidden="true"></i>
            <b>    1-863-862-4492</b><br />
            
                <i class="fa fa-whatsapp" aria-hidden="true"></i>

                <b>   9889305550</b>

        </p>
    </div>
<div class="fcf-body">

    <div id="fcf-form">
    <h3 class="fcf-h3">Get in touch with us</h3>

    <form id="fcf-form-id" class="fcf-form-class" asp-controller="Home" asp-action="ContactUs" method="post" >
        
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Email</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
            </div>
        </div>
        <div class="fcf-form-group">
                    <label for="Email" class="fcf-label">Phone Number</label>
                    <div class="fcf-input-group">
                        <input type="number" id="number" name="tel" class="fcf-form-control" required>
                    </div>
                </div>
        <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Message</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>

        

    </form>
    </div>

</div>


</div>

<script type="text/javascript">
    var myAddress = new google.maps.LatLng(28.492610, 77.244930);
    $(document).ready(function () {
    //Create Options or set different Characteristics of Google Map
    var mapOptions = {
        center: myAddress,
        zoom: 15,
        minZoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    //Display the Google map in the div control with the defined Options
    var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

    //Set Marker on the Map
    var marker = new google.maps.Marker({
        position: myAddress,
        animation: google.maps.Animation.BOUNCE,
    });

    marker.setMap(map);
    });
</script>
