@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/shared/_Layout_main.cshtml";
}
<style>
    div#privacy_container {
        margin-left: 85px;
        margin-top: 50px;
    }
     #privacy_container h1 {
        font-size: 36px;
        margin-left: 213px;
        margin-top: 160px;
        background: border-box;
        background: antiquewhite;
        height: 53px;
        padding-left: 278px;
        padding-top: 6px;
        font-style: revert;
    }

    h1 {
        font-size: 36px;
        margin-top: -10px;
        margin-left: 0px;
        background-color: aquamarine;
        padding-left: 450px;
    }

    #privacy_container h5 {
        font-size: 19px;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: crimson;
    }

    div#privacy_policy_head {
        box-shadow: -1px 2px 19px 7px cadetblue;
        padding-top: 10px;
        margin-top: 160px;
        height: 1110px;
    }

    p {
        margin: 0 0 10px;
        padding-right: 30px;
    }
</style>
<div id="privacy_policy_head">
<h1>@ViewData["Title"]</h1>

@*<h2>Aasha starline Privacy Policy</h2>*@
<div id="privacy_container">
<p><strong>Aasha starline</strong> is fanatical about protecting user’s privacy, we respect and are committed in protecting each user’s privacy.</p>



<h5> Personal Information We May Collect</h5>
<p>    "Personal Information" is information that identifies you as an individual or relates to an identifiable person, including, for example:
    <ul>
        <li>	Name</li>
    <li>	Postal address(es) </li>
    <li>	Telephone number</li>
    <li>	Email address</li>
    <li>	Credit and debit card number and related information</li>
    </ul>
    Any other information you provide when you communicate or book travel with us (e.g., your dietary and other preferences or needs), as well as information about your bookings (e.g., points of departure and destinations)
    <br/>
    If you submit any Personal Information relating to other people to us or to our service providers in connection with the Services, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.


</p>

<h5>How We Use Your Personal Information</h5>
<p>We make use of sensitive billing information like cardholder name, CC number and expiration date for executing the travel bookings that you conduct over our 
    website. We make use of other details about you for following purposes: to provide you products and services that you request for in order to provide you with travel confirmation and other updates, to effectively manage your account that includes processing bills and providing notifications related to travel, to communicate generally with you, to respond to your questions as well as comments, to compute interest in and to improve our products, services and website, for notifying you about special offers & products or services that could be of interest to you, or to otherwise customize your usage of this website, for rewarding you as part of any such program that you choose to join, to seek for information from you, which includes surveys, for resolving disputes, collect fees or to troubleshoot problems, for preventing potentially prohibited/illegal activities, to enforce Terms & Conditions set forth by us, and also as otherwise has been described to you at the collection point.
    </p>

<h5> Other Details You Should Know About Privacy </h5>
<p>When using the Aasha starline Service, you may see links to third party websites, applications as well as services. Please note that if you click on one of these links, you will be directed to some other company's website, application or service. Except as set forth, we will not divulge your personal details with those third-party entities, and are not accountable for their respective privacy practices. We would always encourage you to go through their privacy statements as their policies may be significantly different from Privacy Policy of this website. You will solely be responsible for safeguarding the secrecy of your account details.
We also reserve the right to change or supplement this Privacy Policy document from time to time whenever there is some need to make amendments to it. Any kind of change in the way we make use of your personal information will be mentioned in future versions of this document. If any proposed change happens to be unacceptable to you, you may request to remove your personal information from our records.
</p>
<h5>Security</h5>
<p>
We want you to feel confident about using our platform and all associated tools and services, and we are committed to taking appropriate steps to protect the information we collect. While no company can guarantee absolute security, we do take reasonable steps to implement appropriate physical, technical, and organizational measures to protect the personal information that we collect and process.
</p>
<h5> Record Retention </h5>
<p>
We will retain your personal information in accordance with all applicable laws, for as long as it may be relevant to fulfil the purposes set forth in this Privacy Statement, unless a longer retention period is required or permitted by law. We will deidentify, aggregate, or otherwise anonymize your personal information if we intend to use it for analytical purposes or trend analysis over longer periods of time.
The criteria we use to determine our retention periods include:</p>
<ul>
<li>	The duration of our relationship with you, including any open accounts you may have with Aasha starline companies, or recent bookings or other transactions you have made on our platform</li>
<li>	Whether there are any current and relevant legal obligations affecting how long we will keep your personal information, including contractual obligations, litigation holds, statutes of limitations, and regulatory investigations</li>
</ul>
</div>
</div>