body {
}


.bg-white {
    --bs-bg-opacity: 1;
    background-color: azure;
    height: 80px;
}

img {
    max-width: 100%;
    height: 120px;
}

div#logo_home img {
    height: 120px;
    width: auto;
}

div#logo_home {
    image-orientation: revert;
    height: 70px;
}
.flight-type-icon tab-bar {
background-image:url('../images/images.png');
height:40px;
width:40px;
}
.flight_design {
    background: url(../images/flight_icons.png) no-repeat 64% 50%;
    background-size: 38px 45px;
    display: inline-block;
    height: 23px;
    width: 50px;
    position: absolute;
    margin-left: -94px;
    margin-top: -7px;
    padding-left: 86px;
}


element.style {
}

p#logo_text {
    margin-top: -10px;
    margin-left: 13px;
    /* font-size: inherit; */
    font-size: 16px;
}

.lbtfIcon-flight {
    /* background: url(../images/RTFlightIcon.png) no-repeat 10% 10%; */
    /* background-size: 40px 40px; */
    display: inline-block;
    height: 40px;
    width: 30px;
    position: relative;
    margin-left: 0px;
    margin-top: 35px;
    font-size: 16px;
    color: #999;
}
.fa-rotate-180 {
margin-left:10px;
}

element.style {
}

p#lbf-calender {
    /* background: url(../images/calender_icon.png) no-repeat 0% 0%; */
    /* background-size: 47px 50px; */
    /* display: inline-block; */
    position: relative;
    margin-left: 216px;
    margin-top: -77px;
    font-size: 44px;
    height: 54px;
    width: 60px;
    color: #999;
    background: transparent;
}
.airline_seat_icon {
    background: url(../images/seat-icon-9.jpg) no-repeat 6% 50%;
    background-size: 35px 35px;
    display: inline-block;
    height: 47px;
    width: 60px;
    position: relative;
    margin-left: -4px;
    margin-top: -10px;
}
span.angle_down {
    margin-left: 130px;
    position: absolute;
    margin-top: -27px;
    color: #999;
}
.lbf_callNowIcon {
    background: url(../images/toll_free_icon.png) no-repeat 50% 50%;
    background-size: 68px 55px;
    display: inline-block;
    height: 53px;
    width: 70px;
    position: absolute;
    margin-left: -71px;
}

#container element.style {
    /* border: 1px solid blue; */
    font-size: large;
    font-weight: inherit;
}

#container h2 {
    margin-left: 0px;
   /* font-size: xx-large;*/
    margin-top: 150px;
    font-size: 28px;
    background: blanchedalmond;
    padding-left: 485px;
}
p#header_page {
    margin-top: 40px;
}

#container ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
div#hide-round {
    position: relative;
    margin-left: 300px;
    margin-top: -103px;
}
.user_icon {
    /* background: url(../images/user_icon.png) no-repeat 0% 0%; */
    /* background-size: 52px 35px; */
    display: inline-block;
    position: relative;
    font-size: 27px;
    height: 45px;
    width: 60px;
    padding-left: 13px;
    color: #999;
}
img#footer_webicon {
    height: 197px;
    background: crimson;
}
div#containerabs h2 {
    text-decoration: auto;
    margin-top: 150px;
    background-color: antiquewhite;
    margin-left: 0px;
    padding-left: 450px;
    font-size: 30px;
    color: initial;
}
#thank_you {
    background: url(../images/thank_bg.png) no-repeat 0% 0%;
    display: inline-block;
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 45px;
    filter: drop-shadow(1px 0px 2px black);
}
    #thank_you h2 {
        padding-left: 170px;
        padding-top: 125px;
    }