body {
}


.bg-white {
    --bs-bg-opacity: 1;
    background-color: azure;
    height: 80px;
}

img {
    max-width: 100%;
    height: 120px;
}

div#logo_home img {
    height: 112px;
    width: auto;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
}

div#logo_home {
    image-orientation: revert;
    height: 70px;
}
.flight-type-icon tab-bar {
background-image:url('../images/images.png');
height:40px;
width:40px;
}
.flight_design {
    background: url(../images/flight_icons.png) no-repeat 64% 50%;
    background-size: 38px 45px;
    display: inline-block;
    height: 23px;
    width: 50px;
    position: absolute;
    margin-left: -94px;
    margin-top: -7px;
    padding-left: 86px;
}


element.style {
}

p#logo_text {
    margin-top: -10px;
    margin-left: 13px;
    /* font-size: inherit; */
    font-size: 16px;
}

.lbtfIcon-flight {
    /* background: url(../images/RTFlightIcon.png) no-repeat 10% 10%; */
    /* background-size: 40px 40px; */
    display: inline-block;
    height: 40px;
    width: 30px;
    position: relative;
    margin-left: 0px;
    margin-top: 35px;
    font-size: 16px;
    color: #999;
}
.fa-rotate-180 {
margin-left:10px;
}

element.style {
}

p#lbf-calender {
    /* background: url(../images/calender_icon.png) no-repeat 0% 0%; */
    /* background-size: 47px 50px; */
    /* display: inline-block; */
    position: relative;
    margin-left: 216px;
    margin-top: -77px;
    font-size: 44px;
    height: 54px;
    width: 60px;
    color: #999;
    background: transparent;
}
.airline_seat_icon {
    background: url(../images/seat-icon-9.jpg) no-repeat 6% 50%;
    background-size: 35px 35px;
    display: inline-block;
    height: 47px;
    width: 60px;
    position: relative;
    margin-left: -4px;
    margin-top: -10px;
}
span.angle_down {
    margin-left: 130px;
    position: absolute;
    margin-top: -27px;
    color: #999;
}
.lbf_callNowIcon {
    background: url(../images/toll_free_icon.png) no-repeat 50% 50%;
    background-size: 68px 55px;
    display: inline-block;
    height: 53px;
    width: 70px;
    position: absolute;
    margin-left: -71px;
}

#container element.style {
    /* border: 1px solid blue; */
    font-size: large;
    font-weight: inherit;
}

#container h2 {
    margin-left: 0px;
   /* font-size: xx-large;*/
    margin-top: 150px;
    font-size: 28px;
    background: blanchedalmond;
    padding-left: 485px;
}
p#header_page {
    margin-top: 40px;
}

#container ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
div#hide-round {
    position: relative;
    margin-left: 300px;
    margin-top: -103px;
}
.user_icon {
    /* background: url(../images/user_icon.png) no-repeat 0% 0%; */
    /* background-size: 52px 35px; */
    display: inline-block;
    position: relative;
    font-size: 27px;
    height: 45px;
    width: 60px;
    padding-left: 13px;
    color: #999;
}
img#footer_webicon {
    height: 197px;
    background: crimson;
}
div#containerabs h2 {
    text-decoration: auto;
    margin-top: 150px;
    background-color: antiquewhite;
    margin-left: 0px;
    padding-left: 450px;
    font-size: 30px;
    color: initial;
}
#thank_you {
    background: url(../images/thank_bg.png) no-repeat 0% 0%;
    display: inline-block;
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 45px;
    filter: drop-shadow(1px 0px 2px black);
}
    #thank_you h2 {
        padding-left: 170px;
        padding-top: 125px;
    }
div#containerabs {
    border: 1px solid;
    margin-top: 150px;
    box-shadow: 0px 2px 11px 11px #999;
    height:1000px;
}

/*// Contactus Css */ 

    div#containerabs h2 {
        text-decoration: auto;
        margin-top: 0px;
        background-color: antiquewhite;
        margin-left: 0px;
        padding-left: 450px;
        font-size: 35px;
        color: black;
    }
div#myDiv {
    margin-top: 273px;
    width: 100%;
    height: 497px;
    position: relative;
    overflow: hidden;
}

#title_id h2 {
    margin-left: 500px;
    text-decoration: underline;
}

div#mail {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 14px;
    color: coral;
}

div#contact_no {
    margin-left: 70px;
    margin-top: 25px;
    font-size: 14px;
    color: coral;
}

div#whatsapp_no {
    margin-left: 70px;
    margin-top: 25px;
    font-size: 14px;
    color: coral;
}

#mail a {
    color: #337ab7;
    text-decoration: none;
    color: coral;
}

div#mail, #contact_no, #whatsapp_no a {
    color: #337ab7;
    text-decoration: none;
    color: coral;
}

b, strong {
    font-weight: 700px;
    margin-left: 30px;
}


#fcf-form {
    display: block;
    width: 430px;
    margin-left: 90px;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffe;
    padding: 1px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 50%;
    position: relative;
    margin-top: -835px;
    margin-left: 562px;
    box-shadow: 1px 1px 1px 1px cadetblue;
}

button#fcf-button {
    background-color: blanchedalmond;
    color: black;
    font-size: 19px;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .fcf-form-control:focus {
        border: 1px solid #313131;
    }

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

    .fcf-credit a {
        color: #545b62;
        text-decoration: underline;
    }

        .fcf-credit a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .fcf-btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

    .fcf-btn-primary:focus, .fcf-btn-primary.focus {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }

.fcf-btn-lg, .fcf-btn-group-lg > .fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

    .fcf-btn-block + .fcf-btn-block {
        margin-top: 0.5rem;
    }

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

div#office_id {
    margin-left: 70px;
    margin-top: 45px;
    margin-bottom: -30px;
    font-size: 14px;
    color: coral;
}

div#map_cantct {
    position: absolute;
    margin-left: 9px;
    margin-top: -165px;
    box-shadow: 1px 1px 1px 1px lightskyblue;
    color: aliceblue;
    padding-left: 29px;
    padding-top: 26px;
    padding-bottom: 15px;
    padding-right: 25px;
    background-color: burlywood;
    line-height: 2.6;
}
/*// Contactus Css End */ 