.hide-car{display:none;-webkit-animation: fadein 2s; }
.hide-trip {display:none; -webkit-animation: fadein 2s; }
.passenger-count{ position: absolute; background: #fff;  padding: 12px;  right: 5%; border: 1px solid #046c9a; left: 5%;z-index:999; overflow:visible !important;}
.wid100{width:100%;}
.widget-iconColor {color: #848b8d}
.passenger-count p{font-size: 20px; margin-bottom: 0px;}
.qty{ display: inline-block; width: 45%;  text-align: center;  border: 0px; box-shadow: 0px 0px; font-size: 25px;  color: #848b8d; padding:0px;vertical-align:middle;}
.qtyplus,.qtyminus,.qtyplushotel ,.qtyminushotel,.qtyplushoteladult,.qtyminushoteladult{ background: transparent; border: 2px solid #848b8d; width: 30px; color: #848b8d; font-size: 18px; border-radius: 100px; text-align: center; display: inline-block;}
.circle-control{ border: 1px solid ; width: 16px;  height: 16px; text-align: center;  border-radius: 50%; padding-top: 1px;}
.incremnt-block{background: #f8f8f8; padding: 7px 1px 1px;  margin-top: 10px;font-size:12px}
.paddlr7 { padding-right: 7px  ; padding-left: 7px ;}
option:disabled { color: #ececec; }

select.arrow { background: url('/travelresources/Images/New_Home/images/arrow-down.png') no-repeat right #fff !important; -moz-webkit-appearance: none !important; -appearance: none; padding-left: 5px !important; padding-right: 27px !important; background-position-x: 94% !important; border-radius: 0px !important;  font-size: 12px; height: 29px !important; border: 1px solid #b8b8b8 !important;}
#content{display:none;}
.mart45{margin-top:45px;}


.tab-bar {margin-bottom:0px;margin-left:0px;}
.search-bar .tab-bar li {
    display: inline-block;
    background: #137fb0;
    border-radius: 0px;
    margin-left: 0px;
    width: 194px;
    text-align: center;
    height: 66px;
    margin-top: 13px;
    font-size: 15px;
}

    .search-bar .tab-bar li.active {
        background: #fff;
        padding-top: 5px;
        width: 135px;
        height: 45px;
    }

        .search-bar .tab-bar li.active a {
            color: #137fb0;
            font-weight: bold;
            height: 46px;
            padding-left: 0px;
            width: 160px;
        }

    .search-bar .tab-bar li a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 6px;
        padding-left: 56px;
        width: 100%;
        position: relative;
    }
.search-bar .tab-bar li.active a .show-img{display:inline-block !important;margin-right:2px;}
.search-bar .tab-bar li.active a .hide-img{display:none !important;margin-right:2px;}
.show-img{display:none;}
.search-bar .tab-bar li a .mfsIcon-airplane-tab, .search-bar .tab-bar li a .mfsIcon-car-tab, .search-bar .tab-bar li a .mfsIcon-htl-tab {font-size: 20px; position: absolute; bottom: -1px; left: 13px }
.search-bar .tab-bar li a .mfsIcon-htl-tab {font-size: 24px; bottom: -4px;left: 10px }
.search-bar .tab-bar li a .mfsIcon-car-tab {font-size: 32px; bottom: -11px;left: 10px }
/* switchstart */
.Switch {position: relative; font-size: 1.6em;  font-weight: bold; color: #ccc; height: 18px; border: 1px solid #3c4547;  background: rgba(236, 236, 236, 0);  border-radius: 4px;  background: rgba(236, 236, 236, 0); box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);  cursor: pointer;}
.Switch span {display: inline-block; width: 35px; }
.Switch span.On {color: #33d2da; }
.Switch .Toggle {position: absolute;top: -1px;background:#3c4547;box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);/* z-index: 999; */-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;-o-transition: all 0.15s ease-in-out;-ms-transition: all 0.15s ease-in-out;}
.Switch.Round{ padding: 0px 20px; border-radius: 20px; top: 3px; width: 50px;}
 .Switch.Round .Toggle { border-radius: 9px; width: 17px; height: 17px;}
 .Switch.Round.On .Toggle { left: 0%; background: #3c4547; }
.Switch.Round.Off .Toggle { left: 62%; }
/* end */
.search-bar .tab-content{ background: #fff;  padding: 5px;  border-radius: 0px 3px 3px 3px; margin-left: -1px;  margin-top: 0px; margin-bottom: 20px; padding-bottom: 15px;}
.trip-type{ font-size: 13px; font-weight: 600; cursor:pointer;}
.marl10{margin-left:10px;}
.marb-5{margin-bottom:-5px;}
.custom_input label{ font-size: 14px;  font-weight: 400;  margin-bottom: 0px; color: #a9adae;}
.location_wrapper .main_location{ width: 85%; border: 0px; height: 43px;  padding: 0px; background: transparent;  box-shadow: 0px 0px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;  color: #999;cursor:default; font-weight: 500; }
.location_wrapper .sub_location{ padding: 0px;  border: 0px; box-shadow: 0px 0px; font-size: 13px; height: 19px; background: transparent;}
.location_wrapper{ border-bottom: 1px solid #d4d4d4; padding-bottom: 3px;}
.location_wrapper.calneder_icon_open #depart-cal{border-bottom: 1px solid #d4d4d4;padding-bottom: 3px;width: 66%;}
.location_wrapper.calneder_icon_open{background-position: 206px -84px;border: none;padding: 0;}
/*.location_wrapper.search-set-icon.mdddeprtWapr{background: url(/travelresources/Images/New_Home/images/calnder_click.png) no-repeat right 0;}*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
.location_wrapper.calneder_icon_open #depart-cal{width:100%;border:none;}
.location_wrapper.calneder_icon_open #depart-cal::after{border-bottom: 1px solid #d4d4d4;padding-bottom: 3px;width: 66%; position:absolute; content:''; bottom:0; left:0;}
.location_wrapper.calneder_icon_open{position:relative;}
}
@media screen and (max-width:767px){
	.location_wrapper.search-set-icon.mdddeprtWapr{background:none;}
}
@media screen and (min-width:768px) and (max-width:768px){
	.location_wrapper.search-set-icon.mdddeprtWapr{background-position: 313px 0;}
}
.location-box{padding: 5px 25px;}
.mart15{margin-top:15px;}
.font37{ font-size: 37px;}
.font30{ font-size: 30px;}
.other-fields, select.other-fields {
    border: 0px;
    box-shadow: 0px 0px;
    font-size: 21px;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 26px;
    background: transparent;
    padding: 0px 5px;
    color: #999;
    margin-top: -41px;
    margin-left: -16px;
}
select.other-fields option,.carDropdown option,.advance-field option { font-size:14px; padding-left:5px;}
/*.search-set-icon{background:url('/travelresources/Images/New_Home/images/search-set.png'); background-repeat: no-repeat;}*/
.book-class-icon { position: absolute; font-size: 26px; } 
.passenger-counts-icon { font-size: 26px; position: absolute; }
.flight-type-icon { min-height: 52px; position: absolute; width: 42px; margin-top: 24px; cursor: pointer; font-size: 40px; left:5px; }
.calender-icon{ background-position: 5px -86px; min-height: 52px; position: absolute;  width: 42px;  margin-top: 16px;}
.calender-mobile{ top: 24px; right: 30px; position: absolute; font-size: 32px }
.divide-icon{ min-height: 52px; position: absolute;  width: 30px;}
.divide-icon::after { content: ''; display: block; position: absolute; width: 1px; background: #848b8d; height: 37px; right: 6px }
.advance-color ,.advance-color:hover{color:#137fb0;text-decoration:none;}
.advance-field{ border: 0px; box-shadow: 0px 0px; font-size: 23px;  width: 85%;  font-family: Arial, Helvetica, sans-serif-Semibold; padding-left: 0px; background: transparent; color: #999;  padding: 0px;}
.btn-custom-search{ width: 97%; background: #ec5300;  border: 1px solid #ec5300; height: 40px;  border-radius: 3px; color: #fff; font-size: 22px;margin-left: 8px;}
.sub-heading{ font-family: Arial, Helvetica, sans-serif; font-size: 30px; color: #fff;  margin-top: 80px;}
.sub-heading span{color:#f8e122;text-shadow: 1px 2px 2px #252525;font-weight: 700;}
.heading-banner { font-size: 50px; font-family: Arial, Helvetica, sans-serif; color: #fff; line-height: 28px;font-weight: 600;}
.form-control:focus { box-shadow: 0px 0px;}
.search-bar{ margin-top:35px;}
/* mobile */
	
/* hotel search css */
.font25 {font-size: 25px;}
.btn-htl-search{width: 97%; background: #ec5300; border: 1px solid #ec5300; height: 40px;  border-radius: 3px; color: #fff; font-size: 22px;  margin-left: 8px;}
/* car searxh css */
.font20{font-size:20px;}
/* calender main */
.social-big{background: url(/travelresources/Images/New_Home/images/social-sprite-big.png); width: 40px; height: 40px;  }
.pinterest{background-position: 91px 80px;}
.twitter{background-position: 142px 80px;}
.gogleplus{background-position: 0px 80px;}
.facebook_{background-position: -50px 80px}
.youtube{background-position:41px 80px;}
.home-sprite{background: url(/travelresources/Images/New_Home/images/home-page-icon.png);}
.tab-icons{ width: 25px; height: 25px; position: absolute;  margin-left: -28px;}
.plane-icon{ background-position: -13px -155px;}
.plane-icon-hover{ background-position: 77px -155px;}
.htl-icon {background-position: -13px -198px;}
.htl-icon-hover{background-position: 78px -197px;}
.kar-icons{ background-position: -8px -115px; width: 39px; margin-left: -39px;}
.kar-icons-hover{ background-position: 83px -115px; width: 39px;margin-left: -39px;}
.htl-room { height: 37px; width: 30px; position: absolute; font-size: 32px } 
.kar-icon { height: 45px !important; width: 55px !important; position: absolute; top: 40px; margin-left: 5px; font-size: 40px }
.time-clock { height: 42px; width: 40px; position: absolute;  margin-left: 5px;  top: 13px; background-position: -5px 104px;}
/*autocomplete*/
.ui-widget.ui-widget-content.ui-autocomplete {padding-bottom: 5px;  margin-top: 20px;z-index:9999;}
.ui-autocomplete .airList.ui-menu-item:hover { background-color: #edf3f7; color: #000;  font-weight: 600; font-size: 14px;}
/*.ui-autocomplete .airList.ui-menu-item{ background-image: url(/travelresources/Images/New_Home/images/plane-auto.png);}*
.ui-autocomplete .karlist.ui-menu-item { background-image: url(/travelresources/Images/New_Home/images/auto-oth.png);}*/
.ui-autocomplete .karlist.ui-menu-item.mfsIcon-map-marker:before { font-size: 22px; color: #137fb0; position: absolute; left: 0; top: 4px }
.ui-autocomplete .karlist.ui-menu-item { background-repeat: no-repeat; font-size: 13px; padding-left: 28px; background-position: 6px 10px; border-bottom: 1px solid #d4d4d4 !important; padding-bottom: 8px; padding-top: 8px; color: #525252; margin-top: 3px; position: relative }
/*.ui-autocomplete .karlist.ui-menu-item {background-repeat: no-repeat;font-size: 13px;padding-left: 28px;background-position: 6px 10px;border-bottom: 1px solid #d4d4d4 !important;padding-bottom: 8px;padding-top: 8px;color: #525252;margin-top: 3px;}*/
.ui-autocomplete .airList.ui-menu-item {background-repeat: no-repeat;font-size: 14px;padding-left: 8px; background-position: 6px 10px; border-bottom: 1px solid #d4d4d4 !important; padding-top: 3px;padding-bottom: 3px; color: #525252; margin-top: 3px; font-family:  Verdana, Geneva, sans-serif; font-weight: 500}
.ui-autocomplete li.airList.ui-menu-item:last-child {border-bottom: none !important; }
.ui-menu span.ui-menu-item-wrapper { position: relative; padding: 0px;}
span.ui-autosuggest-highlight, span.ui-state-active:hover {background:rgb(255, 255, 0) !important;color: #000!important;}

span.ui-state-active,
ui-widget-content span.ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {background:none !important;color:#000 !important;font-weight:600 !important;border:none !important;margin:0px !important;}
#mainErrorCover span {color:#ab0101;}
a.collapsed .hide-ad { display:inline-block !important;}
a.collapsed .show-ad { display:none !important;}
.show-ad {display:inline-block;}
.hide-ad{display:none;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: rgba(238, 238, 238, 0);}
.paddtp0 { padding-top: 0px;}
.font12{font-size:12px;}
.head-append{ font-size: 16px; font-weight: 600; color: #545454;}
.room-append { padding-top: 40px;}
.font-18{font-size:18px;}
.roomDtls,.mart10{ margin-top: 10px;}
.roomDtls .col-md-4.padLeft0{ padding-bottom: 15px;border-left: 1px solid #000;}
.cover-widget { position: absolute; background: #fff;border: 1px solid #f5f5f5; box-shadow: 1px 1px 4px 0px #a9a9a9;  padding-bottom: 5px; top: 116px; width: 92%; left: 17px;  z-index:999;}
.roomD{height: 630px; position: absolute; top: 0px;  display: block;}
.select-r-panel{ background: #f1f1f1; padding: 2px 0px; border-bottom: 1px solid #b7b7b7;}
.submit-btn{margin-top: 2px; border-radius: 0px;}
.child-age{padding: 0px; border-radius: 0px;  height: 26px; margin-top:3px;}
.childAge{padding: 0px 5px;}
.marb0{margin-bottom:0px;}
.close-panel, .close-panel-flight {position: absolute; right: -5px; top: -10px;}
 #roomAdd{ -webkit-appearance: none; -moz-appearance: none; position:relative; width: 92%;}
.child-age-block {margin-bottom:10px;}
.row-no-margin {margin-left:0px;margin-right:0px;}
.submit-btn { margin-right: 8px;}
.carDropdown,select.advance-field {-webkit-appearance: none;  -moz-appearance: none; }
#roomsPanel{ overflow-y: auto; overflow-x: hidden;  max-height: 350px;}
.clear-input,.clear-input-des,.clear-input-kar-drop,.clear-input-kar,.clear-input-htl{ position: absolute; top: 38px;  right: 30px; font-weight: 600; width: 20px; text-align: center;  height: 20px;  background: #999;  color: #fff; border-radius: 50%;  cursor: pointer; display:none;}
.main_location::-webkit-input-placeholder { font-size: 30px; text-transform: capitalize !important;}
.main_location::-moz-placeholder {font-size: 30px;  text-transform: capitalize !important;}
.main_location:-ms-input-placeholder{ font-size: 30px; text-transform: capitalize !important;}
.main_location:-moz-placeholder { font-size: 30px; text-transform: capitalize !important;}
#hotelDestination{ padding-right: 30px;}
/*hotelsearch*/
highlight-search{color:#000;font-weight:bold}
.ui-menu-item{border-top:0px !important;border-bottom:0px !important}
.ui-last-line{height:100%;background-color:#aaa;border-top:0px;border-bottom:0px;content:'Keep typing your filter'}
.ui-last-line:hover{height:100%;background-color:#aaa;border-top:0px;border-bottom:0px}
.Header-Hotel{border-top:0px;border-bottom:0px}
.Header-Hotel:before{content:url('/travelresources/Images/HtlSearch.png');border-top:0px;border-bottom:0px;position:absolute;background:#fff;}
.Header-Hotel:hover{background:#fff !important;border-top:0px;border-bottom:0px}
.Header-City{border-top:0px;border-bottom:0px}
.Header-City:before{ content:url('/travelresources/Images/City.png'); border:0 0 0 0;position:absolute;background:#fff;}
.Header-City:hover{background:#fff !important;border-top:0px;border-bottom:0px}
.Header-Place{border-top:0px;border-bottom:0px}
.Header-Place:before{content:url('/travelresources/Images/Place.png');border-top:0px;border-bottom:0px;position:absolute;background:#fff;}
.Header-Place:hover{background:#fff !important;border-top:0px;border-bottom:0px}
.Header-Airport{border-top:0px;border-bottom:0px}
.Header-Airport:before{content:url('/travelresources/Images/Airport.png');border-top:0px;border-bottom:0px;position:absolute;background:#fff;}
.Header-Airport:hover{background:#fff !important;border-top:0px;border-bottom:0px}
.Content{background:#fff;color:black;border-top:0px;border-bottom:0px}
.Content:hover,.Content:focus{background:#036c99 !important;color:White !important;border-top:0px;border-bottom:0px}
.location_wrapper #hotelDestination.main_location { width: 100%;}
/*.HotelAutosearchLoader{background:#fff url('/travelresources/Images/loader_1.gif') no-repeat right center !important;z-index:20 !important}*/
/*Hotel New Search End*/

/*.ui-state-disabled.dp-highlight {background-color: #137fb0 !important;opacity:1;color:#fff !important;}
.ui-state-disabled.dp-highlight span {color:#fff !important;}*/
.ui-datepicker-today { background-color: #fff !important;}
a.ui-datepicker-next span.ui-icon { background: url(/travelresources/Images/newhomepage/datepicker-arrow.png) no-repeat 89% 3%!important; height: 21px; width: 22px; top: 9px;}
.ui-datepicker .ui-datepicker-next { right: 1px !important;}
.ui-datepicker .ui-datepicker-prev { left: 1px !important;}
a.ui-datepicker-prev span.ui-icon { background: url(/travelresources/Images/newhomepage/datepicker-arrow.png) no-repeat 9% 3%!important; height: 21px; width: 22px; top: 9px;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {border:1px solid transparent !important;background-color: transparent !important;}
.htl-des { position: relative;}
.htl-des .clear-input-htl { top: 29%;  right: 0px; }
.subcribe-msg  p{ color: #de0400;  font-size:13px;}
.ui-menu .ui-menu-item.prefer {font-size: 16px; padding: 3px 10px; border-bottom: 1px solid #f1f1f1 !important;}
#FlightClass{ -webkit-appearance: none; -moz-appearance: none; width: 80%;}
.location_wrapper .mfsIcon-angle-down {position: absolute;right: 0;bottom: -4px;font-size: 30px;z-index: 0}
#show-passenger.location_wrapper{position: relative;}
#show-passenger .passengers-text{position: absolute; top: 2px; left: 58px; font-size: 21px;color: #999;font-weight:500;}
.padr30 {padding-right: 30px !important;}
.clor-light {color: #b1b1b1 !important;}
.selectpicker {padding-left:5px !important;}
.sel-mnth { margin-right: 1px;}
.ui-autocomplete .airList.ui-menu-item, .ui-autocomplete .karlist.ui-menu-item:last-child {border-bottom: none !important;}
#ui-id-4.ui-widget.ui-widget-content.ui-autocomplete {padding-bottom: 0px;}

.mfs_fNonstp {position: relative;}
.mfs_fNonstp .mfsadv-checkbox { display: none;}
.mfs_fNonstp label.checkBoxlabel {position: relative;padding-left: 25px; display: inline-block;font-size: 12px;color: #666;}
.mfs_fNonstp label.checkBoxlabel:before { background-color: #fff; border: 1px solid #99a1a7; padding: 8px; border-radius: 3px; display: block; position: absolute; top: 0; left:0; content: "";}
.mfs_fNonstp .mfsadv-checkbox:checked ~ label.checkBoxlabel:before { border: 1px solid #99a1a7; color: #99a1a7;}
.mfs_fNonstp .mfsadv-checkbox:checked ~ label.checkBoxlabel:after {content: '\2714';font-size: 12px;position: absolute;top: 1px;left: 4px;color: #727879;}

._evntproperties{ padding-top:230px; }
.countdownSection{ position:absolute; width:86%;top:0;}
/*******
  Smart autocomplete
    ************/
/*.ui-autocomplete li.airList.ui-menu-item{white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; display: block!important;margin-right: 5px;}   
.ui-menu.ui-autocomplete span.airlist_allairport { content: ''; padding-right: 32px !important; display: inline-block; width: 20px; height: 20px; position: relative; float: left; } 
.ui-menu.ui-autocomplete span.airlist_child {margin-left: 15px !important; background: url(/travelresources/Images/New_Home/images/airplane_allairports_arrow_Blue.png) no-repeat !important ; display: inline-block;width: 20px; height: 20px;padding-right: 30px !important; position: relative;float: left;}
.ui-menu.ui-autocomplete span.airlist_airport { background: url(/travelresources/Images/New_Home/images/airplane_Blue.png) no-repeat 0 0!important ; display: inline-block;width: 20px; height: 20px; padding-right: 32px !important; position: relative;float: left;}*/

.ui-autocomplete li.airList.ui-menu-item {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: block !important;
    margin-right: 5px;
}

.ui-menu.ui-autocomplete span.airlist_allairport {
    content: '';
    padding-right: 32px !important;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    font-size: 18px;
    top: 4px;
    color: #0d83bb;
}

.ui-menu.ui-autocomplete span.airlist_child {
    margin-left: 15px !important;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 30px !important;
    position: relative;
    float: left;
    color: #0d83bb
}

.ui-menu.ui-autocomplete span.airlist_airport {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 32px !important;
    position: relative;
    float: left;
    color: #0d83bb;
    font-size: 16px
}

.ui-autosuggest-highlight {line-height: 25px!important;}    
/*.ui-autocomplete .airList.ui-menu-item:hover span.airlist_allairport { background: url(/travelresources/Images/New_Home/images/airplane_allairports.png) no-repeat 0 0!important;} 
.ui-autocomplete .airList.ui-menu-item:hover span.airlist_child { background: url(/travelresources/Images/New_Home/images/airplane_allairports_arrow.png) no-repeat !important ;}
.ui-autocomplete .airList.ui-menu-item:hover span.airlist_airport{ background: url(/travelresources/Images/New_Home/images/airplane.png) no-repeat !important ;}*/       
.ui-autocomplete .airList.ui-menu-item span.ui-autosuggest-highlight {color: #000!important;background:rgb(255, 255, 0) !important;font-weight: 100!important;}
.ui-autocomplete .airList.ui-menu-item:hover span.ui-autosuggest-highlight {color: #000!important;background:rgb(255, 255, 0) !important;font-weight: 600!important;}

/********
    trustpilot-HomePage widgetReview
    ********/
.tp-review-area { position:relative; width:100%; float:left }
.tp-overlay-area{ position: absolute; bottom: 0; left: 4%;width: 92%; background-color:transparent; top: 0; }

/*loader*/

.loader-btn-home{position: absolute; width: 90%; background:transparent; height: 40px; border-radius: 4px; position: absolute; bottom: 35px; left: 26px; text-align: center; font-size: 25px; color: #fff; cursor: no-drop; display: none;}
.button-load {-webkit-transition: box-shadow 0.15s; -moz-transition: box-shadow 0.15s; -ms-transition: box-shadow 0.15s; -o-transition: box-shadow 0.15s; transition: box-shadow 0.15s; border: 1px solid #b2afa5; border-color: #e1e0dc #c9c8c1 #b2afa5; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.439); background: -webkit-linear-gradient(top, #f6f5f0, #e1e0dc); background: -moz-linear-gradient(top, #f6f5f0, #e1e0dc); background: -ms-linear-gradient(top, #f6f5f0, #e1e0dc); background: -o-linear-gradient(top, #f6f5f0, #e1e0dc); background: linear-gradient(top, #f6f5f0, #e1e0dc); -pie-background: linear-gradient(top, #f6f5f0, #e1e0dc); color: #6b635b; -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 1px 0, rgba(255, 255, 255, 0) 0 0 0 1px inset, white 0 1px 0 0; -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 1px 0, rgba(255, 255, 255, 0) 0 0 0 1px inset, white 0 1px 0 0; -ms-box-shadow: rgba(255, 255, 255, 0) 0 0 1px 0, rgba(255, 255, 255, 0) 0 0 0 1px inset, white 0 1px 0 0; -o-box-shadow: rgba(255, 255, 255, 0) 0 0 1px 0, rgba(255, 255, 255, 0) 0 0 0 1px inset, white 0 1px 0 0; box-shadow: rgba(255, 255, 255, 0) 0 0 1px 0, rgba(255, 255, 255, 0) 0 0 0 1px inset, white 0 1px 0 0; display: inline-block; white-space: nowrap; margin: 0; cursor: pointer; font-size: 20px; line-height: normal; text-align: center; color: #6b635b; width: 100%; padding: 5px 35px; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px}
.disabled.in-progress {color: #444343; border: 1px solid #ffffff; cursor: no-drop; text-shadow: white 0 1px 0; -moz-box-shadow: white 0 1px 0 0 inset; -ms-box-shadow: white 0 1px 0 0 inset; -o-box-shadow: white 0 1px 0 0 inset;}


.in-progress {text-shadow: none; background:#ff9d00; background: -webkit-linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgb(234, 153, 108) 50%, rgb(234, 152, 107) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc); background: -moz-linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgba(234, 153, 108) 50%, rgba(234, 152, 107) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc); background: -ms-linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgba(234, 153, 108) 50%, rgba(234, 152, 107) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc); background: -o-linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgba(234, 153, 108) 50%, rgba(234, 152, 107) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc); background: linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgba(234, 153, 108) 50%, rgba(234, 152, 107) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc); -pie-background: linear-gradient(-45deg, rgba(236, 83, 0, 0.53) 25%, transparent 25%, transparent 50%, rgba(234, 153, 108) 50%, rgba(234, 152, 107) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc); background-repeat: repeat; -webkit-background-size: 25px 25px, 100% 100%; -moz-background-size: 25px 25px, 100% 100%; -ms-background-size: 25px 25px, 100% 100%; -o-background-size: 25px 25px, 100% 100%; background-size: 25px 25px, 100% 100%; -webkit-animation: progress-bar-stripes 2s linear infinite; -moz-animation: progress-bar-stripes 2s linear infinite; -ms-animation: progress-bar-stripes 2s linear infinite; -o-animation: progress-bar-stripes 2s linear infinite; animation: progress-bar-stripes 2s linear infinite;}
/* IE Browser*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #search-flight .calender-mobile { top: 4px;right: 6px;z-index:0;}
    #search-hotel select::-ms-expand, #search-flight select::-ms-expand, #search-car select::-ms-expand {display: none;}
    #hotelDestination::-ms-clear {display: none;}
    #depart-cal{position:relative; z-index:1}
}
/* IE Browser Close */
@-webkit-keyframes progress-bar-stripes {
  from { background-position: 0 0; } to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
  from { background-position: 0 0; } to { background-position: 40px 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 0 0; } to { background-position: 40px 0; }
}


